body {
  background-image: url('Ph0t0s/bg.jpg');
  background-repeat: no-repeat;
}

video-div {
  display: flex;
  align-content: center;
  height: 500px;
  width: 500px;
}

.center {
   margin: 0 auto; width: 400px; 
}

.h1-title { 
  font-family: cursive;
  stroke:rgb(0, 136, 255);
  color: white;
  font-size: 55px;
}

.video-wrap {
  display: flex;
  left: 300px;
}

divdiv, iframe {
  width: 600px;
  height: 340px;
  margin: 0 auto;
}

iframe {
  display: block;
  border-style:none;
}

.doubleUnderline {
  text-decoration:underline;
  border-bottom: 5px solid rgb(255, 255, 255);
  font-family: cursive;
  stroke:rgb(0, 136, 255);
  color: white;
  font-size: 55px;
}