
iframe {
  overflow: scroll;
}

/*Scrollbar effects*/
::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-thumb
{
  background: #001c36;
}

.xyz {
  color: white;
  text-align: center;
  overflow: auto;
}

div {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Amatic SC", sans-serif;
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
    }
    .wrapper{
      background: #001c36;
      position: fixed;
      width: 100%;
      height: 12.5%;
    }
    .wrapper nav{
      position: relative;
      display: flex;
      max-width: calc(100% - 200px);
      margin: 0 auto;
      height: 70px;
      align-items: center;
      justify-content: space-between;
    }
    nav .content{
      display: flex;
      align-items: center;
      font-family: "Amatic SC", sans-serif;
    }
    nav .content .links{
      margin-left: 80px;
      display: flex;
      font-family: "Amatic SC", sans-serif;
    }
    .content .logo a{
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      font-family: "Amatic SC", sans-serif;
      align-content:left ;
    }
    .content .links li{
      list-style: none;
      line-height: 70px;
      font-family: "Amatic SC", sans-serif;
    }
    .content .links li a,
    .content .links li label{
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      padding: 9px 17px;
      border-radius: 5px;
      transition: all 1s ease;
      font-family: "Amatic SC", sans-serif;
    }
    .content .links li label{
      display: none;
      font-family: "Amatic SC", sans-serif;
    }
    .content .links li a:hover,
    .content .links li label:hover{
      background: #323c4e;
      font-family: "Amatic SC", sans-serif;
    }
    .wrapper .search-icon,
    .wrapper .menu-icon{
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      line-height: 70px;
      width: 70px;
      text-align: center;
    }
    .wrapper .menu-icon{
      display: none;
    }
    .wrapper #show-search:checked ~ .search-icon i::before{
      content: "\f00d";
      font-family: "Amatic SC", sans-serif;
    }
    
    .wrapper .search-box{
      position: absolute;
      height: 100%;
      max-width: calc(100% - 50px);
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transition: all 1s ease;
    }
    .wrapper #show-search:checked ~ .search-box{
      opacity: 1;
      pointer-events: auto;
    }
    .search-box input{
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 17px;
      color: #fff;
      background: #171c24;
      padding: 0 100px 0 15px;
    }
    .search-box input::placeholder{
      color: #f2f2f2;
    }
    .search-box .go-icon{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      line-height: 60px;
      width: 70px;
      background: #171c24;
      border: none;
      outline: none;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .wrapper input[type="checkbox"]{
      display: none;
    }
    
    /* Dropdown Menu code start */
    .content .links ul{
      position: absolute;
      background: #171c24;
      top: 80px;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }
    .content .links li:hover > ul{
      top: 70px;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;
    }
    .content .links ul li a{
      display: block;
      width: 100%;
      line-height: 30px;
      border-radius: 0px!important;
    }
    .content .links ul ul{
      position: absolute;
      top: 0;
      right: calc(-100% + 8px);
    }
    .content .links ul li{
      position: relative;
    }
    .content .links ul li:hover ul{
      top: 0;
    }
    
    /* Responsive code start */
    @media screen and (max-width: 1250px){
      .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
      }
      nav .content .links{
        margin-left: 30px;
      }
      .content .links li a{
        padding: 8px 13px;
      }
      .wrapper .search-box{
        max-width: calc(100% - 100px);
      }
      .wrapper .search-box input{
        padding: 0 100px 0 15px;
      }
    }
    
    @media screen and (max-width: 900px){
      .wrapper .menu-icon{
        display: block;
      }
      .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
      }
      nav .content .links{
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 1s ease;
      }
      nav #show-menu:checked ~ .content .links{
        left: 0%;
      }
      .content .links li{
        margin: 15px 20px;
      }
      .content .links li a,
      .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
      }
      .content .links li a.desktop-link{
        display: none;
      }
    
      /* dropdown responsive code start */
      .content .links ul,
      .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
      }
      .content .links #show-features:checked ~ ul,
      .content .links #show-services:checked ~ ul,
      .content .links #show-items:checked ~ ul{
        max-height: 100vh;
      }
      .content .links ul li{
        margin: 7px 20px;
      }
      .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
      }
    }
    
    @media screen and (max-width: 400px){
      .wrapper nav{
        padding: 0 10px;
      }
      .content .logo {
        font-size: 27px;
      }
      .wrapper .search-box{
        max-width: calc(100% - 50px);
      }
      .wrapper .search-box .go-icon{
        width: 30px;
        right: 0;
      }
      .wrapper .search-box input{
        padding-right: 30px;
      }
    }

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      box-shadow: 0
    }

 div.lalalala{
  padding: 50px;
  font-family: Brush Script MT;
  font-size: 300%;
 }

 .balala{
   position: absolute;
   top: 150px;
   text-size-adjust: 50px;
 }

.the-menu-css{
  position: absolute;
  top: 175px;
  size: 100%;
}

div.the-menu-css{
  font-size: 300%;
  font-family:'Courier New', Courier, monospace;
  position: absolute;
  top: 150px;
}

div.table_links1{
  font-size: 275%;
  padding: 10px; 
  position: absolute;
  left: -500px;
  top: 250px;
}

div.table_links2{
  font-size: 275%;
  padding: 10px; 
  position: absolute;
  left: 0px;
  top: 250px;
}

div.table_links{
  font-size: 275%;
  padding: 10px; 
  position: absolute;
  left: 500px;
  top: 250px;
}

div.table_items1{
  font-size: 250%;
  position: absolute;
  left: -550px;
  top: 375px;
}

.parent {
  height: 375px;
  width: 1650px;
}

.child {
  margin: auto;  /* Magic! */
}

.parent2 {
  display: flex;
  height: 375px;
  width: 100px;
}

.child2 {
  margin: auto;  /* Magic! */
}

.parent3 {
  height: 375px;
  width: 1650px;
}

.child3 {
  margin: auto;  /* Magic! */
}

div.table_items2{
  font-size: 250%;
  position: absolute;
  left: 0px;
  top: 375px;
}

div.table_items3{
  font-size: 250%;
  position: absolute;
  left: 450px;
  top: 375px;
}

div.table_items4{
  font-size: 250%;
  position: absolute;
  left: -550px;
  top: 575px;
}

div.table_items5{
  font-size: 250%;
  position: absolute;
  left: 0px;
  top: 575px;
}

div.table_items6{
  font-size: 250%;
  position: absolute;
  left: 450px;
  top: 575px;
}
